option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: "uniq_mongo/uniq/uniq/wsgi.py"
  - option_name: DJANGO_SETTINGS_MODULE
    value: "uniq_mongo/uniq/uniq.settings"
  - option_name: AWS_SECRET_KEY
    value: "JkjCT6E0CL8013Z+Szo+bJ/rx2TIuHuk2ORtjLBt"
  - option_name: AWS_ACCESS_KEY_ID
    value: "AKIAI72RSABVEXWWITCA"
