container_commands:
  01installrequirements:
    command: "pip install -r requirements.txt"
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: uniq/wsgi.py
  - option_name: DJANGO_SETTINGS_MODULE
    value: uniq.settings
  - option_name: AWS_SECRET_KEY
    value: JkjCT6E0CL8013Z+Szo+bJ/rx2TIuHuk2ORtjLBt
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAI72RSABVEXWWITCA
  - option_name: AWS_S3_Bucket
    value: uniq-s3
  - option_name: StaticFiles
    value: /static/=static/
  - option_name :  /static/
    value: static/
